{% extends bill_base %} {% load static %} {% block title %} Purchases Batch No :
{{ bill.billno }}{% endblock title %} {% block content %}

<div class="container p-2">
  <div class="row my-2">
    <div class="col-md-10 offset-1 shadow bg-light">
      <div
        style="
          color: #575757;
          font-style: bold;
          font-size: 2rem;
          text-align: center;
          border-bottom: 1px solid white;
        "
      >
        Purchase Batch No. : {{ bill.billno }}
      </div>

      <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->

      <form method="post">
        {% csrf_token %}
        <div class="bg">
          <br />

          <div id="printArea" class="bg">
            <table
              class="outer-box inner-box"
              style="width: 840px; margin-left: auto; margin-right: auto"
            >
              <tbody>
                <tr style="height: 1px">
                  <td>
                    <p style="text-align: center">TAX INVOICE - PURCHASE</p>
                  </td>
                </tr>

                <tr style="text-align: center">
                  <td>
                    <span style="font-size: 150%"
                      >Instantina Flavours India Private Limited</span
                    >
                    <br />
                    <span style="font-size: 120%; font-weight: bold"
                      >Manufacturer : Flavours, Fragrances & Aroma
                    </span>
                    <br />
                    <span style="font-weight: bold">REGD ADDRESS :</span>Plot
                    No. F-366, Phase 8B<br />
                    Industrial Area, Focal Point, SAS Nagar<br />

                    Punjab 160055<br />
                    <span style="font-weight: bold"
                      >EMAIL : info@instantina.in
                      <br />
                      Contact No : 0172-4086059
                    </span>
                    <br /><br />
                  </td>
                  <!-- Log on to codeastro.com for more projects -->
                </tr>

                <tr>
                  <td>
                    <table
                      class="outer-box"
                      style="
                        width: 800px;
                        margin-left: auto;
                        margin-right: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            class="inner-box"
                            style="text-align: center; font-weight: bold"
                            colspan="3"
                          >
                            GSTIN NO - 03AAGCI1681N1ZE
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="inner-box"
                            style="width: 50%; font-weight: bold"
                          >
                            &nbsp;NAME OF CONSIGNEE / BUYER
                          </td>
                          <td
                            class="inner-box"
                            style="width: 25%; font-weight: bold"
                          >
                            &nbsp;Serial NO
                          </td>
                          <td class="inner-box" style="width: 25%">
                            &nbsp;{{ bill.billno }}
                          </td>
                        </tr>
                        <tr>
                          <td class="inner-box" style="width: 50%">
                            &nbsp;{{ bill.supplier.name }}
                          </td>
                          <td class="inner-box"
                          style="width: 25%; font-weight: bold"
                        >
                          &nbsp;Receipt Date
                        </td>
                        <td class="inner-box align-middle" style="width: 25%">
                          <input
                            type="text"
                            name="receipt_date"
                            class="align-middle"
                            style="border: 0; overflow: hidden"
                            value="{% if billdetails.receipt_date %}{{ billdetails.receipt_date }}{% endif %}"
                          />
                        </td>



                          
                  

                       
                        <tr>
                          <!-- Log on to codeastro.com for more projects -->
                          <td class="inner-box" style="width: 50%" rowspan="3">
                            {{ bill.supplier.address|linebreaks }}
                          </td>
                          <td
                            class="inner-box"
                            style="width: 25%; font-weight: bold"
                          >
                            &nbsp;Sup Invoice Date
                          </td>
                          <td class="inner-box align-middle" style="width: 25%">
                            <input
                              type="text"
                              name="eway"
                              class="align-middle"
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.eway %}{{ billdetails.eway }}{% endif %}"
                            />
                          </td>
                        </tr>
                        <tr></tr>

                        

                        <tr>
                          <td
                            class="inner-box"
                            style="width: 25%; font-weight: bold"
                          >
                            &nbsp;Internal COA No.
                          </td>
                          <td class="inner-box align-middle" style="width: 25%">
                            <input
                              type="text"
                              name="destination"
                              class="align-middle"
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.destination %}{{ billdetails.destination }}{% endif %}"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td class="inner-box" style="font-weight: bold">
                            &nbsp;GSTIN No : {{ bill.supplier.gstin }}
                          </td>
                          <td
                            class="inner-box"
                            style="width: 25%; font-weight: bold"
                          >
                            &nbsp;Invoice No 
                          </td>
                          <td class="inner-box align-middle" style="width: 25%">
                            <input
                              type="text"
                              name="po"
                              class="align-middle"
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.po %}{{ billdetails.po }}{% endif %}"
                            />
                          </td>
                        </tr>
                        <!-- Log on to codeastro.com for more projects -->
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td>
                    <!-- Log on to codeastro.com for more projects -->
                    <table
                      class="outer-box"
                      style="
                        width: 800px;
                        margin-left: auto;
                        margin-right: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            class="inner-box"
                            style="
                              width: 05%;
                              font-weight: bold;
                              text-align: left;
                            "
                          >
                            &nbsp;SL
                          </td>
                          <td
                            class="inner-box"
                            style="
                              width: 30%;
                              font-weight: bold;
                              text-align: left;
                            "
                          >
                            Particulars
                          </td>
                          <td
                            class="inner-box"
                            style="
                              width: 12%;
                              font-weight: bold;
                              text-align: left;
                            "
                          >
                            &nbsp;HSN/SAC
                          </td>
                          <td
                            class="inner-box"
                            style="
                              width: 12%;
                              font-weight: bold;
                              text-align: left;
                            "
                          >
                            QTY Kg
                          </td>
                          <td
                            class="inner-box"
                            style="
                              width: 12%;
                              font-weight: bold;
                              text-align:left;
                            "
                          >
                            RATE per Kg.
                          </td>
                          <td
                            class="inner-box"
                            style="
                              width: 12%;
                              font-weight: bold;
                              text-align: left;
                            "
                          >
                            AMOUNT 
                          </td>
                          <td
                            class="inner-box"
                            style="
                              width: 05%;
                              font-weight: bold;
                              text-align: left;
                            "
                          >
                            PS
                          </td>
                        </tr>
                        {% for item in items %}
                        <tr style="height: auto">
                          <td class="inner-box" style="width: 5%; text-align: left">
                            &nbsp; {{ forloop.counter }}
                          </td>
                          <td class="inner-box" style="width: 30%; text-align: left">
                            &nbsp; {{ item.stock.name }}
                          </td>
                          <td class="inner-box" style="width: 12%; text-align: left">
                            &nbsp; {{ item.stock.hsn }}
                          </td>
                          <td class="inner-box" style="width: 12%; text-align: left">
                            &nbsp; {{ item.quantity }}
                          </td>
                          <td class="inner-box" style="width: 12%; text-align: left">
                            &nbsp; {{ item.perprice }}
                          </td>
                          <td class="inner-box" style="width: 12%; text-align: left">
                            &nbsp;{{ item.totalprice }}
                          </td>
                          <td class="inner-box" style="width: 5%; text-align: left">&nbsp;0</td>
                        </tr>
                        
                        
                        {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>

                

                <tr>
                  <td>
                    <table
                      class="outer-box inner-box"
                      style="
                        width: 800px;
                        margin-left: auto;
                        margin-right: auto;
                      "
                    >
                      <tbody>

                        <tr>
                          <br />
                          <td
                            class="inner-box"
                            style="width: 30%; font-weight: bold"
                          >
                            &nbsp;Mfg Date
                          </td>
                          <td class="inner-box align-middle" style="width: 30%">
                            &nbsp;
                            <input
                              type="text"
                              name="mfg"
                              class="align-middle"                              
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.mfg %}{{ billdetails.mfg }}{% endif %}"
                            />
                          </td>
                        </tr>
                        
                        
                        <tr>
                         
                          <td
                            class="inner-box"
                            style="width: 30%; font-weight: bold"
                          >
                            &nbsp;Exp Date
                          </td>
                          <td class="inner-box align-middle" style="width: 30%">
                            &nbsp;
                            <input
                              type="text"
                              name="exp"
                              class="align-middle"                              
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.exp %}{{ billdetails.exp }}{% endif %}"
                            />
                          </td>
                        </tr>
                        <td
                        class="inner-box"
                        style="width: 30%; font-weight: bold"
                      >
                        &nbsp;Freight/Insurance
                      </td>
                      <td class="inner-box align-middle" style="width: 30%">
                        &nbsp;
                        <input
                          type="text"
                          name="veh"
                          class="align-middle"
                          pattern="[0-9]+\.[0-9]+"
                          style="border: 0; overflow: hidden"
                          value="{% if billdetails.veh %}{{ billdetails.veh }}{% endif %}"
                        />
                      </td>
                    </tr>
                        <tr>
                          <br />
                          <td
                            class="inner-box"
                            style="width: 30%; font-weight: bold"
                          >
                            &nbsp;CGST @ 9%
                          </td>
                          <td class="inner-box align-middle" style="width: 30%">
                            &nbsp;
                            <input
                              type="text"
                              name="cgst"
                              class="align-middle"
                              pattern="[0-9]+\.[0-9]+"
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.cgst %}{{ billdetails.cgst }}{% endif %}"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td class="inner-box" style="font-weight: bold">
                            &nbsp;SGST @ 9%
                          </td>
                          <td class="inner-box align-middle">
                            &nbsp;
                            <input
                              type="text"
                              name="sgst"
                              class="align-middle"
                              pattern="[0-9]+\.[0-9]+"
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.sgst %}{{ billdetails.sgst }}{% endif %}"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td class="inner-box" style="font-weight: bold">
                            &nbsp;IGST @ 18%
                          </td>
                          <td class="inner-box align-middle">
                            &nbsp;
                            <input
                              type="text"
                              name="igst"
                              class="align-middle"
                              pattern="[0-9]+\.[0-9]+"
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.igst %}{{ billdetails.igst }}{% endif %}"
                            />
                          </td>
                        </tr>
                        <tr>
                          <!-- Log on to codeastro.com for more projects -->
                        </tr>

                        <tr>
                          <td class="inner-box" style="font-weight: bold">
                            &nbsp;TOTAL          ₹
                          </td>
                         
                          <td class="inner-box align-middle">
                            &nbsp;
                            <input
                              type="text"
                              name="total"
                              class="align-middle"
                              pattern="[0-9]+\.[0-9]+"
                              style="border: 0; overflow: hidden"
                              value="{% if billdetails.total %}{{ billdetails.total }}{% endif %}"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: right">
                    <span style="font-weight: bold"
                      >FOR COMPANY <br /><br />
                      Instantina Flavours India Pvt. Ltd.<br /><br /><br />
                      Authorized Signatory</span
                    >
                  </td>
                </tr>

                <tr>
                  <td style="text-align: center">
                    <!-- FINAL TEXT -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->
        </div>

        <br /><br />

        <div class="wrapper P-2">
          <button
            class="center btn btn-primary"
            onclick="printpage('printArea')"
          >
            Print
          </button>
          <button class="center btn btn-success" type="submit">
            Save Draft
          </button>
          <a href="{% url 'purchases-list' %}" class="btn center btn-secondary"
            >Go Back</a
          >
        </div>
        <!-- Log on to codeastro.com for more projects -->
      </form>

      <script>
        function printpage(divName) {
          var printContents = document.getElementById(divName).innerHTML;
          var originalContents = document.body.innerHTML;
          document.body.innerHTML = printContents;
          window.print();
          document.body.innerHTML = originalContents;
        }
      </script>

      {% endblock %}
    </div>
  </div>
</div>
