{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-md-10">
      <div class="border bg-white offset-1 text-center shadow  p-4">
        <div style="height: 300px">
          {% for message in messages %} {% if message %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endif %} {% endfor %}
          <div
            class="row"
            style="color: #4e4e4e; font-style: bold; font-size: 1.5rem"
          >
            <div class="col-md-6">Create New Production</div>
            <div class="col-md-4">
              <div style="float: right">
                <a class="btn btn-info" href="{% url 'production-recordfg' %}"
                  >Complete Production FG</a
                >
              </div>
            </div>
          </div>

          <form method="post">
            <br/>
            <br/>
            {% csrf_token %}

            <div class="form-group row mx-4 mt-4">
              <label for="bom" class="col-md-2 col-form-label">FG BOM:</label>
              <div class="col-md-4">
                <select name="bom" id="bom" class="form-control" required>
                  <option value="">-- Select BOM --</option>
                  {% for bom in boms %}
                  <option value="{{ bom.id }}" {% if bom.name == 'md-10' %}selected{% endif %}>{{ bom.name }}</option>
                  {% endfor %}
                </select>
                
              </div>   
                <label for="quantity_bom" class="col-md-2 col-form-label"
                  >Qty Kg:</label
                >
                <div class="col-md-4">
                  <input
                    type="number"
                    step="any"
                    name="quantity_bom"
                    id="quantity_bom"
                    class="form-control"
                    placeholder="Quantity (BOM)"
                    required
                  />
                </div>
              </div>    

            {% if sfgs.count > 0 %}
            <div class="form-group row mx-4 mt-4">
              <label for="sfg" class="col-md-2 col-form-label">SFG:</label>
              <div class="col-md-4">
                <select name="sfg" id="sfg" class="form-control" required>
                  <option value="">-- Select SFG --</option>
                  {% for sfg in sfgs %}
                  <option
                    value="{{ sfg.bom__name }}"
                    data-quantity="{{ sfg.quantity }}"
                  >
                    {{ sfg.bom__name }} ({{ sfg.quantity }} Kg)
                  </option>
                  {% endfor %}
                </select>
              </div>
          
                <label for="quantity_sfg" class="col-md-2 col-form-label"
                  >Quantity (SFG) Kg:</label
                >
                <div class="col-md-4">
                  <input
                    type="number"
                    step="any"
                    name="quantity_sfg"
                    id="quantity_sfg"
                    class="form-control"
                    placeholder="Quantity (SFG)"
                    {%
                    if
                    sfgs.count
                    <
                    1
                    %}disabled{%
                    endif
                    %}
                    required
                  />
                </div>
              </div>
            </div>
            {% endif %}
            <div class="form-group mx-4 mt-4">
              <div class="offset-md-2 col-md-10">
                <button type="submit" class="btn login-btn btn-info btn-m" id="createOrderBtn">
                  Create Production Order
                </button>
              </div>
            </div>
            
            <script>
              const createOrderBtn = document.getElementById("createOrderBtn");
            
              createOrderBtn.addEventListener("click", function () {
                // Hide the button after the first click
                createOrderBtn.style.display = "none";
            
                // Perform your form submission or AJAX request here
                // For example, you can use fetch() or submit the form:
                // document.getElementById("yourFormId").submit();
              });
            </script>
            



          {% if pdf_link %}
          <div class="form-group mx-4 mt-4">
            <p>Download production report: <a href="{{ pdf_link }}">PDF</a></p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
