<!-- production/leadtimesfg.html -->

{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-md-10">
      <div class="border bg-white text-center shadow offset-3 p-4">
        <div style="height: 300px">
          {% for message in messages %} {% if message %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endif %} {% endfor %}
          <div
            class="row"
            style="color: #4e4e4e; font-style: bold; font-size: 1.5rem"
          >
            <div class="col-md-8">Complete Production Order SFG</div>
            <div class="col-md-4">
              <div style="float: right">
                <a
                  class="btn btn-info"
                  href="{% url 'production-leadtimelist' %}"
                  >Traceability Sheet</a
                >
              </div>
            </div>
          </div>

          <form method="post">
            {% csrf_token %}

            <div class="form-group mx-4 mt-4">
              <label for="sfg_id">Select SFG:</label>
              <select name="sfg_id" id="sfg_id" class="form-control" required>
                <option value="">-- Select SFG --</option>
                {% for production in productions %}
                <option value="{{ production.id }}">
                  {{ production.bom }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group mx-4 mt-4">
              <label for="rawcode">Raw Material Code:</label>
              <input
                type="text"
                required
                name="rawcode"
                id="rawcode"
                class="form-control"
                placeholder="Raw Material Code"
              />
            </div>

            <div class="form-group mx-4 mt-4">
              <button type="submit" class="btn login-btn btn-info btn-m">
                Submit Data
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
