{% extends "base.html" %} {% load static %} {% block content %}
<div class="container" style="overflow-y: scroll; max-height: 400px">
  <div class="row my-4">
    <div class="col-md-10">
      <div class="border bg-white text-center shadow offset-2 p-3">
        <h3>FG Production List</h3>

        <form
          method="GET"
          action="{% url 'production-leadtimelist' %}"
          class="mb-3"
        >
          <div class="input-group">
            <input
              type="text"
              name="query"
              class="form-control"
              placeholder="Search by BOM Name or ID"
              value="{{ query }}"
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Pro. ID</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Batch No</th>
              <th>Order Date</th>
            </tr>
          </thead>
          <tbody>
            {% for leadtime in leadtimes %}
            <tr>
              <td>{{ leadtime.id }}</td>
              <td>{{ leadtime.bom }}</td>
              <td>{{ leadtime.quantity_bom }}</td>
              <td>{{ leadtime.code_fg }}</td>

              <td>{{ leadtime.sfg.production_date }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4">No lead times found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
