{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-md-10">
      <div class="border bg-white text-center shadow offset-2 p-3">
        <h3>SFG Inventory</h3>

        <form method="GET" action="{% url 'production-list' %}" class="mb-3">
          <div class="input-group">
            <input
              type="text"
              name="query"
              class="form-control"
              placeholder="Search by BOM Name or ID"
              value="{{ query }}"
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>SFG Name</th>
              <th>Total Quantity (Kg)</th>
            </tr>
          </thead>
          <tbody>
            {% for production in productions %}
            <tr>
              <td>{{ production.bom__name }}</td>
              <td>{{ production.sum_quantity|floatformat:5 }} Kg</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2">No productions found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
