{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}

<div class="container p-2">
  <div class="row my-2">
    <div class="col-md-10 offset-1 shadow bg-light">
      <div class="row" style="color: #4e4e4e; font-style: bold; font-size: 2rem">
        <div class="col-md-12 p-2">
          <div class="d-flex justify-content-center">
            <a class="btn btn-info mr-2" href="{% url 'production-fgsfgbomlist' %}">FG BOM List</a>
          </div>
        </div>
      </div>

      <form method="post" action="{% url 'update-fgsfgbom' fgsfg.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">FG BOM Name:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter BOM Name"
            required
            value="{{ fgsfg.name }}"
          />
        </div>
        <div class="form-group">
          <label for="code">BOM Code:</label>
          <input
            type="text"
            class="form-control"
            name="code"
            id="code"
            placeholder="Enter BOM Code"
            required
            value="{{ fgsfg.code }}"
          />
        </div>
        <br />

        <!-- SFGs section -->
        <div id="sfgs-container">
          {% for sfg_entry in existing_sfg_entries %}
          <div class="row sfg-entry">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sfg">SFG:</label>
                <select name="sfg[]" class="form-control" required>
                  <option value="" disabled>Select SFG</option>
                  {% for sfg in sfg_list %}
                  <option value="{{ sfg.id }}" {% if sfg.id == sfg_entry.sfg.id %}selected{% endif %}>{{ sfg.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="quantity_sfg">Quantity SFG kg:</label>
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  name="quantity_sfg[]"
                  placeholder="Enter Quantity"
                  required
                  value="{{ sfg_entry.quantity_sfg }}"
                />
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-danger remove-sfg-entry">
                Remove
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" id="add-sfg-entry">
          Add SFG
        </button>
        <br /><br />

        <!-- Raw materials section -->
        <div id="raw-materials-container">
          {% for raw_material_entry in existing_raw_material_entries %}
          <div class="row raw-material">
            <div class="col-md-6">
              <div class="form-group">
                <label for="raw-material-{{ forloop.counter }}">Raw Material:</label>
                <select
                  name="raw_materials[]"
                  class="form-control"
                  id="raw-material-{{ forloop.counter }}"
                  required
                >
                  <option value="" disabled>
                    Select Raw Material
                  </option>
                  {% for raw_material in raw_materials %}
                  <option value="{{ raw_material.id }}" {% if raw_material.id == raw_material_entry.raw_material.id %}selected{% endif %}>{{ raw_material.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="quantity-{{ forloop.counter }}">Quantity kg:</label>
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  name="quantities[]"
                  id="quantity-{{ forloop.counter }}"
                  placeholder="Enter Quantity"
                  required
                  value="{{ raw_material_entry.quantity_raw }}"
                />
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-danger remove-raw-material">
                Remove
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" id="add-raw-material">
          Add Raw Material
        </button>
        <br /><br />

        <button type="submit" class="btn btn-primary">Update BOM</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const addSFGEntryBtn = document.getElementById("add-sfg-entry");
    const sfgsContainer = document.getElementById("sfgs-container");

    let sfgEntryCount = 1;

    addSFGEntryBtn.addEventListener("click", function () {
      const sfgEntryTemplate = `
      <div class="row sfg-entry">
        <div class="col-md-6">
          <div class="form-group">
            <label for="sfg-${sfgEntryCount}">SFG:</label>
            <select name="sfg[]" class="form-control" id="sfg-${sfgEntryCount}" required>
              <option value="" selected disabled>Select SFG</option>
              {% for sfg in sfg_list %}
              <option value="{{ sfg.id }}">{{ sfg.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="quantity_sfg-${sfgEntryCount}">Quantity SFG kg:</label>
            <input
              type="number"
              step="any"
              class="form-control"
              name="quantity_sfg[]"
              id="quantity_sfg-${sfgEntryCount}"
              placeholder="Enter Quantity"
              required
            />
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger remove-sfg-entry">
            Remove
          </button>
        </div>
      </div>
    `;

      sfgsContainer.insertAdjacentHTML("beforeend", sfgEntryTemplate);
      sfgEntryCount++;
    });

    sfgsContainer.addEventListener("click", function (e) {
      if (e.target.classList.contains("remove-sfg-entry")) {
        e.target.closest(".sfg-entry").remove();
      }
    });

    const addRawMaterialBtn = document.getElementById("add-raw-material");
    const rawMaterialsContainer = document.getElementById("raw-materials-container");

    let rawMaterialCount = 1;

    addRawMaterialBtn.addEventListener("click", function () {
      const rawMaterialTemplate = `
      <div class="row raw-material">
        <div class="col-md-6">
          <div class="form-group">
            <label for="raw-material-${rawMaterialCount}">Raw Material:</label>
            <select
              name="raw_materials[]"
              class="form-control"
              id="raw-material-${rawMaterialCount}"
              required
            >
              <option value="" selected disabled>Select Raw Material</option>
              {% for raw_material in raw_materials %}
              <option value="{{ raw_material.id }}">{{ raw_material.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="quantity-${rawMaterialCount}">Quantity kg:</label>
            <input
              type="number"
              step="any"
              class="form-control"
              name="quantities[]"
              id="quantity-${rawMaterialCount}"
              placeholder="Enter Quantity"
              required
            />
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger remove-raw-material">
            Remove
          </button>
        </div>
      </div>
    `;

      rawMaterialsContainer.insertAdjacentHTML("beforeend", rawMaterialTemplate);
      rawMaterialCount++;
    });

    rawMaterialsContainer.addEventListener("click", function (e) {
      if (e.target.classList.contains("remove-raw-material")) {
        e.target.closest(".raw-material").remove();
      }
    });
  });
</script>
{% endif %}
{% endblock content %}
